* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer_container {
    padding: 4rem 0 4rem 0;
    border-top: 1px solid black;
    margin: 30% 0%;
}

.footer {
    width: 80%;
    height: 40vh;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer_heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.terms {
    display: flex;
    padding: 1rem 0;
    text-indent: 20px;
    margin: 0px -17px;
    width: 500px;
}

.icon {
    display: flex;
    margin: 0 auto;
    text-align: end;
    padding: 1rem 1rem;
}

.icon {
    div {
        padding: 0rem 0.5rem;
    }
}

.email {
    border: none;
    border-bottom: 1px solid;
    width: 400px;
    padding: 0.8rem 0;
}

.email::placeholder {
    text-align: center;
}